@font-face {
  font-family: "PermanentMarkerRegular";
  font-display: swap;
  src: url("../fonts/permanent-marker-regular.woff2") format("woff2");
}
@font-face {
  font-family: LinetoMedium;
  font-display: swap;
  src: url("../fonts/lineto-circular-medium.woff2") format("woff2");
}
@font-face {
  font-family: LinetoBook;
  font-display: swap;
  src: url("../fonts/lineto-circular-book.woff2") format("woff2");
}
@font-face {
  font-family: LinetoBold;
  font-display: swap;
  src: url("../fonts/lineto-circular-bold.woff2") format("woff2");
}
@font-face {
  font-family: LinetoBlack;
  font-display: swap;
  src: url("../fonts/lineto-circular-black.woff2") format("woff2");
}
@font-face {
  font-family: LinetoLight;
  font-display: swap;
  src: url("../fonts/lineto-circular-light.woff2") format("woff2");
}
@font-face {
  font-family: Handwritten;
  font-display: swap;
  src: url("../fonts/handwritten.woff2") format("woff2");
}
/*Official Fonts*/
.font-bold {
  font-family: LinetoBold;
}

.font-medium {
  font-family: LinetoMedium;
}

.font-book {
  font-family: LinetoBook;
}

.font-black {
  font-family: LinetoBlack;
}

.font-light {
  font-family: LinetoLight;
}

.font-handwritten {
  font-family: Handwritten;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: LinetoLight;
}
h1 .strong,
h2 .strong,
h3 .strong,
h4 .strong,
h5 .strong,
h6 .strong {
  font-family: LinetoBook;
}

.strong {
  font-family: LinetoBold;
}

p,
span,
i,
ul,
li {
  font-family: LinetoBook;
}

.font-10 {
  font-size: 10px;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-22 {
  font-size: 22px;
}

.font-24 {
  font-size: 24px;
}

.font-26 {
  font-size: 26px;
}

.font-28 {
  font-size: 28px;
}

.font-30 {
  font-size: 30px;
}

.font-32 {
  font-size: 32px;
}

.font-34 {
  font-size: 34px;
}

.font-36 {
  font-size: 36px;
}

.font-38 {
  font-size: 38px;
}

.font-40 {
  font-size: 40px;
}

.font-42 {
  font-size: 42px;
}

.font-44 {
  font-size: 44px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clear {
  clear: both;
}

.branding {
  color: #2c0652;
}

.tag {
  color: #E91E63;
}

.box {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  line-height: 1;
  letter-spacing: 0px;
}

header,
main,
footer {
  margin: 0 auto;
  height: auto;
  width: 100%;
}

.top-header {
  height: auto;
  box-shadow: 0px 0px 0px rgba(171, 171, 171, 0.6);
  background: #fff;
}

.top-header {
  border-bottom: 1px solid #f7f7f7;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

nav {
  display: flex;
  text-transform: uppercase;
}
nav a {
  padding: 15px 0;
  display: inline-block;
  font-size: 20px;
}

.brand {
  flex: 1;
}
.brand a {
  color: #2c0652;
}
.brand .lastname {
  left: 0;
  bottom: 0;
}

.top-nav {
  flex: auto;
}
.top-nav ul {
  display: flex;
  text-align: right;
  justify-content: flex-end;
}
.top-nav ul li {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.top-nav ul li a {
  font-size: 14px;
  color: #2c0652;
  padding: 35px;
  text-transform: capitalize;
}

.container {
  margin: 0 auto;
  max-width: 1199px;
  width: 100%;
  clear: both;
}
.container > section {
  width: 100%;
}

main {
  padding: 0px;
}

footer {
  padding: 50px 0px;
  background: #2c0652;
}

.section-one {
  background: #f7f7f7;
}
.section-one .home-about {
  margin: 0px;
}
.section-one .home-about .home-about-section {
  margin: 0px;
}
.section-one .home-about .home-about-title {
  font-size: 20px;
  margin: 0 0 20px 0;
  display: inline-block;
}
.section-one .home-about .home-about-content {
  margin: 0px;
  display: flex;
}
.section-one .home-about .home-about-content-left {
  margin: 100px 0px;
  width: 50%;
}
.section-one .home-about .home-about-content-left .name {
  font-size: 24px;
  text-transform: lowercase;
}
.section-one .home-about .home-about-content-left .name span {
  text-transform: capitalize;
  color: #3b74d4;
}
.section-one .home-about .home-about-content-left .name span:last-child {
  text-transform: lowercase;
}
.section-one .home-about .home-about-content-left .profile {
  font-size: 46px;
  text-transform: lowercase;
  margin: 20px 0px 30px 0px;
}
.section-one .home-about .home-about-content-left .subtext {
  font-size: 22px;
  line-height: 30px;
  color: #7b7b7b;
  margin-bottom: 30px;
  text-transform: lowercase;
}
.section-one .home-about .home-about-content-right {
  margin: 0px;
  width: 50%;
}

.cta-btns {
  text-transform: uppercase;
}
.cta-btns .get-cv,
.cta-btns .hire-me {
  padding: 10px 25px;
  display: inline-block;
  background-color: #2c0652;
  border-radius: 20px;
  color: #fff;
  box-shadow: 0px 0px 4px 1px rgba(44, 6, 82, 0.5);
  border: 2px solid #2c0652;
  font-size: 16px;
  margin-right: 25px;
}
.cta-btns .hire-me {
  background-color: #fff;
  color: #2c0652;
  box-shadow: none;
  margin-right: 0px;
}

.section-two {
  background: #f7f7f7;
}
.section-two .skill-set {
  padding: 100px 0px;
  background: #fff;
  margin: 0 0 50px 0px;
  display: inline-block;
  box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 100%;
}
.section-two .skill-set .skill-wrapper .skill-set-title {
  text-align: center;
  font-size: 24px;
  display: block;
  width: 100%;
  margin-bottom: 15px;
}
.section-two .skill-set .skill-wrapper .skill-set-subtitle {
  margin-bottom: 30px;
  text-align: center;
  font-size: 30px;
  display: block;
  width: 100%;
  text-transform: uppercase;
}
.section-two .skill-set .skill-set-wrapper {
  display: flex;
  justify-content: center;
}
.section-two .skill-set .skill-set-wrapper ul {
  display: flex;
  flex-wrap: wrap;
}
.section-two .skill-set .skill-set-wrapper ul li {
  margin-right: 20px;
  margin-bottom: 20px;
}
.section-two .skill-set .skill-set-wrapper ul li:last-child {
  margin-right: 0px;
}
.section-two .skill-set .skill-set-wrapper ul li img {
  height: 50px;
  opacity: 0.7;
  transition: 0.2s ease-in;
}
.section-two .skill-set .skill-set-wrapper ul li img:hover {
  opacity: 1;
}

.section-three {
  background: #f7f7f7;
}
.section-three .spacializing-wrapper {
  padding: 100px 0px;
  background: #fff;
  margin: 0 0 50px 0px;
  display: inline-block;
  box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 100%;
}
.section-three .spacializing-title-wrapper .spacializing-title {
  text-align: center;
  font-size: 24px;
  display: block;
  width: 100%;
  margin-bottom: 15px;
}
.section-three .spacializing-title-wrapper .spacializing-subtitle {
  margin-bottom: 30px;
  text-align: center;
  font-size: 30px;
  display: block;
  width: 100%;
  text-transform: uppercase;
}
.section-three .spacializing-list ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 50px;
}
.section-three .spacializing-list ul li {
  width: 50%;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.section-three .spacializing-list ul li .spacializing-logo {
  width: 75px;
  height: 75px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #2c0652;
  box-shadow: 1px 3px 0 0 #2c0652;
}
.section-three .spacializing-list ul li .spacializing-details {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 15px;
  width: calc(100% - 105px);
}
.section-three .spacializing-list ul li .spacializing-details .specialize-title {
  margin-bottom: 10px;
  font-size: 20px;
  width: 100%;
}
.section-three .spacializing-list ul li .spacializing-details .specialize-description {
  font-size: 16px;
  line-height: 24px;
  color: #5f5f5f;
}

.section-four {
  background: #f7f7f7;
}
.section-four .educational-set {
  padding: 100px 0px;
  background: #fff;
  margin: 0 0 50px 0px;
  display: inline-block;
  box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 100%;
}
.section-four .educational-set .educational-title-wrapper .educational-title {
  text-align: center;
  font-size: 24px;
  display: block;
  width: 100%;
  margin-bottom: 15px;
}
.section-four .educational-set .educational-title-wrapper .educational-subtitle {
  margin-bottom: 30px;
  text-align: center;
  font-size: 30px;
  display: block;
  width: 100%;
  text-transform: uppercase;
}
.section-five {
  background: #f7f7f7;
}
.section-five .educational-set {
  padding: 100px 0px;
  background: #fff;
  margin: 0 0 50px 0px;
  display: inline-block;
  box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 100%;
  background-color: transparent;
  box-shadow: none;
}
.section-five .educational-set .educational-title-wrapper .educational-title {
  text-align: center;
  font-size: 24px;
  display: block;
  width: 100%;
  margin-bottom: 15px;
}
.section-five .educational-set .educational-title-wrapper .educational-subtitle {
  margin-bottom: 30px;
  text-align: center;
  font-size: 30px;
  display: block;
  width: 100%;
  text-transform: uppercase;
}
.section-five .educational-set .educational-set-wrapper {
  display: flex;
}
.section-five .educational-set .educational-set-wrapper .educational-left {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
}
.section-five .educational-set .educational-set-wrapper .educational-left .ctas {
  padding: 20px;
  background-color: #fff;
  width: auto;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  border-radius: 40px;
  box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2);
}
.section-five .educational-set .educational-set-wrapper .educational-right {
  width: 50%;
}
.section-five .educational-set .educational-set-wrapper .educational-right .classes-edu {
  background: #fff;
  margin-bottom: 25px;
  position: relative;
  display: flex;
  box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(44, 6, 82, 0.3);
  border-radius: 10px;
}
.section-five .educational-set .educational-set-wrapper .educational-right .classes-edu:last-child {
  margin-bottom: 0px;
}
.section-five .educational-set .educational-set-wrapper .educational-right .classes-edu .left-edu {
  width: 75px;
  height: auto;
  background: #efefef;
  padding: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.section-five .educational-set .educational-set-wrapper .educational-right .classes-edu .left-edu img {
  max-width: 75px;
  width: 100%;
}
.section-five .educational-set .educational-set-wrapper .educational-right .classes-edu .right-edu {
  padding: 15px;
}
.section-five .educational-set .educational-set-wrapper .educational-right .classes-edu .right-edu .tag,
.section-five .educational-set .educational-set-wrapper .educational-right .classes-edu .right-edu .degree,
.section-five .educational-set .educational-set-wrapper .educational-right .classes-edu .right-edu .institution,
.section-five .educational-set .educational-set-wrapper .educational-right .classes-edu .right-edu .duration {
  position: relative;
  z-index: 2;
}
.section-five .educational-set .educational-set-wrapper .educational-right .classes-edu .right-edu .tag {
  color: #E91E63;
  font-size: 14px;
  font-family: LinetoLight;
}
.section-five .educational-set .educational-set-wrapper .educational-right .classes-edu .right-edu .degree {
  font-family: LinetoBold;
  margin: 5px 0px;
}
.section-five .educational-set .educational-set-wrapper .educational-right .classes-edu .right-edu .institution,
.section-five .educational-set .educational-set-wrapper .educational-right .classes-edu .right-edu .duration {
  font-family: LinetoBook;
  margin: 5px 0px;
  font-size: 14px;
}
.section-five .educational-set .educational-set-wrapper .educational-right .classes-edu .right-edu .duration {
  font-family: LinetoMedium;
}

/*# sourceMappingURL=style.css.map */
